form {
  margin-block-end: 0;
}

.note {
  color: #AAA;
  cursor: pointer;
}
.note:hover {
  background-color: #F6F6F6;
}
.home {
  font-weight: bold;
}
.highlighted {
  font-weight: bold;
  color: #000;
}

.repeat-active {
  background-color: #0F7;
}
#audio-waveform {
  position: relative;
  cursor: crosshair;
}
#audio-waveform>img {
  position: relative;
  z-index:1;
  min-height: 4em;
  max-height: 4em;
}
#audio-position-line {
  position: absolute;
  width: 2px;
  height: 100%;
  background: rgba(0,0,0,0);
  /*border-left: 3px solid rgba(200,200,200,0);*/
  border-right: 2px solid rgba(0,0,0,.75);
  top: 0px;
  z-index:10;
  opacity: .4;
}
#audio-selection {
    top: 0px;
    position: absolute;
    height: 100%;
    background: rgba(0,150,0,.5);

    z-index:20;
}
#audio-selection-left, #audio-selection-right {
  top:0px;
  position: absolute;
  width:3px;
  height: 100%;
  background: rgba(0,50,0,.5);
  cursor: ew-resize;
}
#audio-selection-left {
  left:0px;
}
#audio-selection-right {
  right:0px;
}

.audio-highlight {
  top: 0px;
  position: absolute;
  height: 100%;
  background: rgba(0,0,0,.15);
  z-index:5;
}

.template {
  display: none;
}

.success {
  box-shadow: inset 0 0 5px 5px #AFA;
  transition: all 500 ease-in-out;
}

.delete-act {
  text-decoration: none;
  margin-left: 1em;
}

#play-pause-button {
  cursor: pointer;
  font-size: 1.5em;
}
.play-button::before {
  content: "\e1c4";
}
.pause-button::before {
  content: "\e1a2";
}