.note {
  color: #AAA;
  cursor: pointer;
}
.note:hover {
  background-color: #F6F6F6;
}
.home {
  font-weight: bold;
}
.highlighted {
  font-weight: bold;
  color: #000;
}

.repeat-active {
  background-color: #0F7;
}
#audio-waveform {
  position: relative;
  cursor: crosshair;
}
#audio-waveform>img {
  position: relative;
  z-index:1;
  min-height: 4em;
  max-height: 4em;
}
#audio-position-line {
  position: absolute;
  width: 7px;
  height: 100%;
  background: rgba(0,0,0,1);
  border-left: 3px solid rgba(200,200,200,1);
  border-right: 3px solid rgba(200,200,200,1);
  top: 0px;
  z-index:10;
  opacity: .4;
}
#audio-selection {
    top: 0px;
    position: absolute;
    height: 100%;
    background: rgba(0,150,0,.5);

    z-index:2;
}
#audio-selection-left {
  top:0px;
  left:0px;
  position: absolute;
  width:3px;
  height: 100%;
  background: rgba(0,50,0,.5);
  cursor: ew-resize;
}

.success {
  box-shadow: inset 0 0 5px 5px #AFA;
  transition: all 500 ease-in-out;
}

.delete-act {
  text-decoration: none;
  margin-left: 1em;
}
